@import "../src/global/global.styles.scss";

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contacts {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-wrapper {
  display: grid;
  grid-template-areas:
    "search"
    "contacts";
}
